<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitdf.txing.oj.mapper.TopicMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bitdf.txing.oj.model.entity.forum.Topic" id="topicMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="tags" column="tags"/>
        <result property="thumbNum" column="thumb_num"/>
        <result property="favourNum" column="favour_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    <select id="getUserFavourPage" resultType="com.bitdf.txing.oj.model.entity.forum.Topic">
        SELECT t.*
        FROM `tx_oj_topic` t
        JOIN tx_oj_topic_favour f
        ON t.id = f.topic_id
        WHERE f.user_id = #{ userId } and t.is_delete = 0
        ORDER BY f.create_time
        <!--        <if test="pageRequest.sortField != null">-->
        <!--            order by ${pageRequest.sortField} ${pageRequest.sortOrder}-->
        <!--        </if>-->
    </select>


</mapper>