<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitdf.txing.oj.mapper.CourseMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bitdf.txing.oj.model.entity.course.Course" id="courseCourseMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="times" column="times"/>
        <result property="noduleCount" column="nodule_count"/>
        <result property="favourCount" column="favour_count"/>
        <result property="userId" column="user_id"/>
        <result property="intro" column="intro"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <update id="reduceCourseTimeAndNoduleCount">
        UPDATE tx_oj_course_course
        SET times        = times - #{ times },
            nodule_count = nodule_count - #{ noduleCount }
        WHERE id = #{ courseId }
    </update>
    <update id="increaseCourseTimeAndNoduleCount">
        UPDATE tx_oj_course_course
        SET times        = times + #{ times },
            nodule_count = nodule_count + #{ noduleCount }
        WHERE id = #{ courseId }
    </update>
    <select id="getUserFavourPage" resultType="com.bitdf.txing.oj.model.entity.course.Course">
        SELECT c.*
        FROM tx_oj_course_course c
                 JOIN tx_oj_course_favour f
                      ON c.id = f.course_id
        WHERE f.user_id = #{ userId }
          and c.is_delete = 0
          and c.status = 1
        ORDER BY f.create_time
    </select>


</mapper>